<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.business.mapper.InventoryMovementDetailMapper">

    <resultMap id="inventoryMovementDetail" type="com.cx.business.beans.InventoryMovementDetail">
        <id property="bimdId" column="bimd_id"></id>
        <result property="bimOrderId" column="bimOrder_id"></result>
        <result property="phoneId" column="phone_id"></result>
        <result property="id" column="id"></result>
        <association property="phoneInfo" column="phone_id" javaType="com.cx.business.beans.PhoneInfo" select="com.cx.business.mapper.PhoneInfoMapper.selectById"></association>
    </resultMap>


    <select id="selectTargetInventoryMovementDetailByBimOrderId" resultMap="inventoryMovementDetail" parameterType="Integer">
        SELECT
            bimOrder_id,
            phone_id,
            count(*) AS productNumber
        FROM
            business_inventory_movement_detail
        where bimOrder_id=#{bimOrderId}
        GROUP BY
            phone_id;
    </select>

</mapper>
