<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.business.mapper.PreturnDetailMapper">

    <resultMap id="prd" type="com.cx.business.beans.PreturnDetail">
        <id property="prd" column="prd_id"></id>
        <result property="proId" column="pro_id"></result>
        <result property="phoneId" column="phone_id"></result>
        <result property="productNumber" column="productNumber"></result>
        <result property="unitPrice" column="unit_price"></result>
        <association property="phoneInfo" column="phone_id" javaType="com.cx.business.beans.PhoneInfo" select="com.cx.business.mapper.PhoneInfoMapper.selectById"></association>
    </resultMap>

    <select id="selectTargetPreturnDetailById" resultMap="prd" parameterType="Integer">
        SELECT
            pro_id,
            phone_id,
            count(*) AS productNumber,
            unit_price
        FROM
            business_preturn_detail
        WHERE pro_id=#{proId}
        GROUP BY
            phone_id;
    </select>



</mapper>
