<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.business.mapper.ProductDamageDetailMapper">

    <resultMap id="productDamageDetail" type="com.cx.business.beans.ProductDamageDetail">
        <id property="pddId" column="pdd_id"></id>
        <result property="pdoId" column="pdo_id"></result>
        <result property="productNumber" column="productNumber"></result>
        <result property="unitPrice" column="unit_price"></result>
        <association property="phoneInfo" column="phone_id" javaType="com.cx.business.beans.PhoneInfo" select="com.cx.business.mapper.PhoneInfoMapper.selectById"></association>
    </resultMap>



    <select id="selectTargetProductDamageDetailByPdoId" resultMap="productDamageDetail">
        SELECT
                pdo_id,
                phone_id,
                count(*) AS productNumber,
                unit_price
        FROM
                business_productDamage_detail
        WHERE pdo_id=#{pdoId}
        GROUP BY
                phone_id
    </select>
</mapper>
