<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.business.mapper.SorderDetailMapper">

    <resultMap id="stockOrder" type="com.cx.business.beans.SorderDetail">
        <id property="stodId" column="stod_id"></id>
        <result property="stoId" column="sto_id"></result>
        <result property="phoneId" column="phone_id"></result>
        <result property="productNumber" column="productNumber"></result>
        <result property="unitPrice" column="unit_price"></result>
        <association property="phoneInfo" column="phone_id" javaType="com.cx.business.beans.PhoneInfo" select="com.cx.business.mapper.PhoneInfoMapper.selectById"></association>
    </resultMap>

    <select id="selectTargetStockOrderDetailById" resultMap="stockOrder" parameterType="Integer">
        select sto_id, phone_id, count(*) as productNumber,unit_price
        from business_sorder_detail
        where sto_id=#{stoId}
        GROUP BY phone_id;
    </select>



</mapper>
